html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
::-moz-selection {
  background: #ffdc00;
}
::selection {
  background: #ffdc00;
}
body,
html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #444452;
  color: #fff;
  line-height: 1.5;
  width: 100%;
}
a,
span {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fff;
  color: black;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
strong {
  font-weight: 700;
  color: #36363c;
}
.emoji {
  display: inline-block;
  vertical-align: text-top;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 100px 170px 100px 100px;
}
@media screen and (max-width: 1280px) {
  .section {
      padding: 100px;
  }
}
@media screen and (max-width: 1024px) {
  .section {
      padding: 50px;
  }
}
@media screen and (max-width: 768px) {
  .section {
      display: block;
  }
}
@media screen and (max-width: 480px) {
  .section {
      padding: 50px 35px;
  }
}
.section__title {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 220px;
  margin-right: 70px;
  color: #007bff;
  text-transform: uppercase;
  text-align: right;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.1rem;
}
@media screen and (max-width: 1024px) {
  .section__title {
      margin-right: 50px;
  }
}
@media screen and (max-width: 850px) {
  .section__title {
      width: 150px;
  }
}
@media screen and (min-width: 480px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .decks, .cards {
    grid-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
  }
}


@media screen and (max-width: 480px) {
  .section__content {
      padding-left: 30px;
  }
}
.section__content p {
  margin-top: 0;
  margin-bottom: 25px;
}
.section__content .underline-link {
  position: relative;
  display: inline-block;
}
.small {
  font-family: Inconsolata, monospace;
  font-size: 0.85rem;
  display: inline-block;
  margin-top: 15px;
}
.small:after {
  display: none;
}
.footer {
  padding: 50px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .footer {
      padding: 50px;
  }
}
@media screen and (max-width: 630px) {
  .footer {
      display: block;
  }
}
@media screen and (max-width: 480px) {
  .footer {
      padding: 50px 30px;
  }
}
.footer__copyright {
  font-weight: 700;
  font-size: 0.8rem;
  width: 240px;
}
@media screen and (max-width: 630px) {
  .footer__copyright {
      width: auto;
      text-align: center;
      margin-bottom: 25px;
  }
}
@media screen and (max-width: 630px) {
  .footer__copyright .bottom,
  .footer__copyright .top {
      display: inline-block;
  }
}
@media screen and (max-width: 480px) {
  .footer__copyright .bottom,
  .footer__copyright .top {
      display: block;
  }
}
.footer__copyright .emoji {
  width: 20px;
  height: 20px;
  margin: 0 3px;
  vertical-align: text-bottom;
}
@media screen and (max-width: 630px) {
  .footer__links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
  }
}
.footer__links a {
  position: relative;
  display: inline-block;
  color: #007bff !important;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 15px;
  outline: 0;
}
@media screen and (max-width: 1024px) {
  .footer__links a {
      margin: 0 10px;
  }
}
.footer__links a:after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #007bff;
  content: "";
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
@media screen and (max-width: 850px) {
  .footer__links a:after {
      display: none;
  }
}
.footer__links a:focus:after,
.footer__links a:hover:after {
  height: 2px;
  border-radius: 3px;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.footer__links a .text {
  font-size: 0.9rem;
  display: inline;
  letter-spacing: 1px;
}
@media screen and (max-width: 850px) {
  .footer__links a .text {
      display: none;
  }
}
.footer__links img {
  display: none;
  width: 22px;
}
@media screen and (max-width: 850px) {
  .footer__links img {
      display: inline-block;
  }
}